name: Run on Push

on: [push]

jobs:
  run-python:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Run Python script
        run: python app1.py
